:root {
    --color-background: #EE5622;
    --color-child-background: #252422;
    --color-input-background : #403d39;
    --color-input-text : #fffcf2;
    --color-text : #fffcf2;
    --color-button : #EE5622;
    --color-button-selected : #EB5E28;
    --color-checkbox : #EE5622;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}  

body {
    background-color: var(--color-background);
}

.UI-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-background);
    padding-top: 0.5cm;
    padding-bottom: 0.5cm;
}

.Parent-Container {
    width: 95%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.3rem
}

.Child-Container {
    background-color: #edf2f7;
    padding: 1rem;
    border-radius: 0.37rem;
    background-color: var(--color-child-background);
    margin: 5px;
}

.Label {
    font-size: 2.25rem;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-text);
    display: block;
}

.Counter-Label {
    font-size: xx-large;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.5cm;
    display: flex;
    align-items: center;
    color: var(--color-text);
}

.Input-Field {
    width: 97%;
    border: 1px solid #d1d5db;
    border-radius: 0.37rem;
    padding: 0.5rem;
    outline: none;
    box-shadow: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.75rem;
    resize: none;
    color: var(--color-input-text);
    background-color: var(--color-input-background);
    border-color: var(--color-input-background);
    margin-bottom: 20px;
}

.Button {
    flex: 1;
    color: var(--color-text);
    border-radius: 0.37rem;
    padding: 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    font-weight: bolder;
    height: 2.5cm;
    background-color: var(--color-button);
    border-color: var(--color-button);
}

.Save-Button {
    background-color: var(--color-button);
    border-color: var(--color-button);
    color: var(--color-text);
    border-radius: 0.37rem;
    padding: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    width: 100%;
    margin-bottom: 10px;
}

.Button:hover {
    background-color: var(--color-button-selected)
}

.Save-Button:hover {
    background-color: var(--color-button-selected)
}

.Group-Container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 0.125rem
}

.Sub-Label {
    font-size: 1.6rem;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-text);
}

.Button-Container {
    display: flex;
    justify-content: space-between;
}

.Checkbox {
    width: 40px;
    height: 50px;
    vertical-align:middle;
    accent-color: var(--color-checkbox);
    background: #252422;
}